<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Correct permissions for Maps and Internet access -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- The "com.google.android.maps" permission is obsolete and removed -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoblieProject"
        tools:targetApi="31">

        <!-- *** THIS IS THE CORRECTED API KEY TAG *** -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAZPtrSU1cekYlXqT_-iTKYKLHVVqjp2VU" />

        <!-- LoginActivity is the starting point of the app -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- All other activities declared only ONCE -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".GroceryListsActivity"
            android:exported="false" />
        
          <!-- Sign Up Screen -->
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />

        <!-- Recipe Detail Screen -->
        <activity
            android:name=".RecipeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".NearbyGroceryStoresMaps"
            android:exported="true" />

    </application>

</manifest>
